body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #ffffff;
}
/* ---------------- header styles--------------- */
.header {
}
.header-nav {
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  text-decoration: none;
}
.header-logo-span {
  color: #4d5ae5;
}
.header-list {
  font-weight: 500;
  font-style: normal;
}
.header-list-item {
}
.header-list-link {
  text-decoration: none;
}
.header-address {
  font-style: normal;
}
.header-address-list {
}
.header-address-item {
}
.header-address-link {
  text-decoration: none;
}
/* ------------- portfolio page main styles--------------- */
.portfolio {
}

.list {
  list-style: none;
}

.portfolio-list {
}
.portfolio-list-item {
}
.portfolio-list-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  cursor: pointer;
}
.portfolio-list-btn:hover,
.portfolio-list-btn:focus {
  background-color: #404bbf;
  color: #ffffff;
}

.portfolio-cards {
}
.portfolio-cards-item {
}
.portfolio-cards-img {
}
.portfolio-cards-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-cards-desc {
  color: #434455;
}
/* -------------  footer styles------------- */
.footer {
  background-color: #2e2f42;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  text-decoration: none;
}
.footer-logo-span {
  color: #4d5ae5;
}
.footer-desc {
  color: #e7e9fc;
}
/* --------main page hero section styles----------------------- */
.hero {
  background-color: #2e2f42;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.hero-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
}
/* ---------main page philosophy section styles------------------ */
.philosophy {
}
.philosophy-list {
}
.philosophy-list-item {
}
.philosophy-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.philosophy-item-desc {
  color: #434455;
}
/* ------------main page what section styles--------------------------- */
.what {
}
.what-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.what-list {
}
.what-list-item {
}
/* ------------main page team section styles---------------------------- */
.team {
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.team-list {
}
.team-list-item {
}
.team-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.team-item-desc {
  color: #434455;
}
